<div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
      <div>
        <h2>Welcome to GadgetLab</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse et dictum ex, at blandit diam. Nulla imperdiet, diam
          sed elementum elementum, elit urna tristique turpis, nec tincidunt
          ante metus vitae turpis. Donec nec nibh dictum, viverra sem et,
          mattis ligula. Maecenas lorem est, fringilla nec placerat ac,
          mollis id massa. Maecenas pharetra lectus non risus fermentum
          mollis. Sed ultrices, nisl pharetra pharetra egestas, dui turpis
          lobortis nisl, vel fermentum orci felis id dui. Pellentesque et
          tortor augue. Ut porttitor nibh justo, ut cursus dui luctus vel.
        </p>
        <a href="#" class="btn btn-light mt-3">Learn More</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="/images/ip16.jpg" class="d-block w-100" alt="ip16" />
    </div>
  </div>