<nav class="navbar navbar-expand-lg bg-transparent border text-light shadow-lg rounded-5 mx-5 my-3">
    <div class="container-fluid">
      <a href="/"><img src="images/GadgetLabLogo.png" style="max-width: 40px;"></a>
      <a class="navbar-brand text-light fs-4 fw-medium ms-1" href="/">GadgetLab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light fs-6 mx-3 fw-medium active-page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fs-6 mx-3 fw-medium" href="phones">Phones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fs-6 mx-3 fw-medium" href="compare">Compare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fs-6 mx-3 fw-medium" href="review">Review</a>
          </li>
        </ul>
        <form class="d-flex mx-auto align-items-center w-75 form-search" role="search">
          <input class="form-control ms-3 rounded-4" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-light ms-1 me-5 rounded-5" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
        <% if (user) { %>
          <p>sudah login ya</p>
        <%} else {%>
          <a class="btn btn-light rounded-pill" href="login">Log In</a>
          <a class="btn btn-light rounded-pill" href="login">Sign Up</a>
        <% } %>
      </div>
    </div>
  </nav>