<footer class="bg-invisible text-light text-center py-2 mt-auto border-top border-2">
    <div class="container">
      <p class="mb-0 small">Made By:</p>
      <p class="mb-0 small">Rahaditya Abimanyu Putra</p>
      <p class="mb-0 small">Gusti Rama</p>
      <p class="mb-0 small">&copy; 2024 GadgetLab. All rights reserved.</p>
    </div>
</footer>