<div class="row">
  <!-- Left text column -->
  <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
    <div>
      <h2>Welcome to GadgetLab</h2>
      <p>
        Gadget Lab, Makes Life Easier
      </p>
      <a href="#" class="btn btn-light mt-3">Learn More</a>
    </div>
  </div>

  <!-- 3D Model column -->
  <div class="col-md-6 d-flex align-items-center justify-content-center">
    <div id="phone3d"></div>
  </div>
</div>