<!DOCTYPE html>
<html lang="en">

  <%- include('includes/header') %>

<body class="d-flex flex-column min-vh-100 text-light">

  <%- include('includes/navbar', {user, current : "compare"}) %>

  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-12 d-flex align-items-center justify-content-center mb-3">
        <h1>Phone Comparison</h1>
      </div>
      <form id="compare-form" class="p-5">
        <div class="d-flex justify-content-start">
          <div class="col-md-6 d-flex flex-column  align-items-center" ">
            <label for="phone1" class="form-label mt-3">Phone 1</label>
            <input type="text" class="form-control w-75" id="search-phone-1" placeholder="Insert Phone Name">
            <div class="recomendation-phone-1 d-flex flex-column position-relative bg-white rounded " data-phone="1"  style="width: 300px;"></div>
            <div class="choose-phone-1 p-3 w-100 "></div>
          </div>
          <div class="col-md-6 d-flex flex-column  align-items-center"">
            <label for="phone2" class="form-label mt-3">Phone 2</label>
            <input type="text" class="form-control w-75" id="search-phone-2" placeholder="Insert Phone Name">
            <div class="recomendation-phone-2 d-flex flex-column position-relative bg-white rounded " data-phone="2"  style="width: 300px;"></div>
            <div class="choose-phone-2 p-3 w-100 "></div>
          </div>
        </div>
        <div class="col-md-12 d-flex align-items-center justify-content-center mt-5">
          <input class="btn btn-light" type="submit" value="Compare" id="compare">
        </div>
      </form>
      
    </div>


    <!-- data compare -->
     <div class="compare d-flex gap-4"></div>
  </div>
  
  <%- include('includes/footer') %>
  <%- include('includes/script') %>
  <script src="/compare.js"></script>

</body>
</html>
