/* Make the cards clickable */

body {
  background-color: #151517;
  font-family: "Montserrat", sans-serif;
}

.clickable-card {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  /* Add hover effect for clickable cards */
  .clickable-card:hover {
    transform: scale(1.05);
  }
  
  /* Ensure images are responsive within the card */
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .active-page {
    border-bottom: 2px solid #f8f9fa; /* white underline */
    padding-bottom: 5px; /* space between underline and text */
  }
  