<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>

<body class="d-flex flex-column min-vh-100 text-light">
  <%- include('includes/navbar', {user, current : "about"}) %>
  
  <div class="container my-5">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center pt-5 ps-5 pe-5">
        <div class="text-center">
          <h2>About GadgetLab</h2>
          <p>
            Welcome to GadgetLab! Here, you can review phones, compare their features, and check detailed specs of any model. 
            Whether you're a tech fan or just looking for the right phone, GadgetLab makes it easy to decide.
          </p>
          <h3 class="mt-5">Contact Us!</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h4>Gusti Rama</h4>
          <P>123230040</P>
          <a href="https://wa.me/+6282137970627" class="text-light" target="_blank" style="text-decoration: none;"><i class="bi bi-whatsapp"></i> +62 821-3797-0627</a><br>
          <a href="https://github.com/Gusti-Rama" class="text-light" target="_blank" style="text-decoration: none;"><i class="bi bi-github"></i> Gusti-Rama</a><br>
          <a href="https://www.instagram.com/gusti.rama_/" class="text-light" target="_blank" style="text-decoration: none;"><i class="bi bi-instagram"></i> @gusti.rama_</a>
        </div>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h4>Rahaditya Abimanyu Putra</h4>
          <P>123230095</P>
          <a href="https://wa.me/+6282137970627" class="text-light" target="_blank" style="text-decoration: none;"><i class="bi bi-whatsapp"></i> +62 822-2613-8704</a><br>
          <a href="https://github.com/rahadityaputra" class="text-light" target="_blank" style="text-decoration: none;"><i class="bi bi-github"></i> rahadityaputra</a><br>
          <a href="https://www.instagram.com/rahadityaputra/" class="text-light" target="_blank" style="text-decoration: none;"><i class="bi bi-instagram"></i> @rahadityaputra</a>
        </div>
      </div>  
    </div>
  </div>
  
  <%- include('includes/footer') %>
  <%- include('includes/script') %>
</body>
</html>
